<div class="widgets">

  <div class="row">
    <div class="col-md-12">

      <ba-card title="Show" baCardClass="with-scroll">
        <div class="row show-grid">
          <div class="col-12 col-sm-12 col-md-12">
            <div title="Header">
              Header
              <div *ngFor="let comp of uiDivisionObject.HEADER.components ">
                <label for="input01">{{ comp.label }}</label>
                <div *ngIf="comp.type == 'TEXT'">
                  <input type="text" class="form-control" id="input01" placeholder="Text" />
                </div>
                <div *ngIf="comp.type == 'CHECKBOX'">
                  <input type="checkbox" value="{{ comp.options['1'] }}">{{ comp.options["1"] }}<br>
                  <input type="checkbox" value="{{ comp.options['2'] }}">{{ comp.options["2"] }}<br>
                  <input type="checkbox" value="{{ comp.options['3'] }}">{{ comp.options["3"] }}<br>
                  <input type="checkbox" value="{{ comp.options['4'] }}">{{ comp.options["4"] }}<br>
                </div>
                <div *ngIf="comp.type == 'RADIO'">
                  <input type="radio" value="{{ comp.options['1'] }}">{{ comp.options["1"] }}<br>
                  <input type="radio" value="{{ comp.options['2'] }}">{{ comp.options["2"] }}<br>
                </div>
              </div>
            </div>
            <div title="body">
              Body
              <div class="form-group">
                <form>
                  <div *ngFor="let comp of uiDivisionObject.BODY.components ">
                    <label for="input01">{{ comp.label }}</label>
                    <div *ngIf="comp.type == 'TEXT'">
                      <input type="text" class="form-control" id="input01" placeholder="Text" />
                    </div>
                    <div *ngIf="comp.type == 'CHECKBOX'">
                      <input type="checkbox" value="{{ comp.options['1'] }}">{{ comp.options["1"] }}<br>
                      <input type="checkbox" value="{{ comp.options['2'] }}">{{ comp.options["2"] }}<br>
                      <input type="checkbox" value="{{ comp.options['3'] }}">{{ comp.options["3"] }}<br>
                      <input type="checkbox" value="{{ comp.options['4'] }}">{{ comp.options["4"] }}<br>
                    </div>
                    <div *ngIf="comp.type == 'RADIO'">
                      <input type="radio" value="{{ comp.options['1'] }}">{{ comp.options["1"] }}<br>
                      <input type="radio" value="{{ comp.options['2'] }}">{{ comp.options["2"] }}<br>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div title="footer">
              Footer
              <div *ngFor="let comp of uiDivisionObject.FOOTER.components ">
                <label for="input01">{{ comp.label }}</label>
                <div *ngIf="comp.type == 'TEXT'">
                  <input type="text" class="form-control" id="input01" placeholder="Text" />
                </div>
                <div *ngIf="comp.type == 'CHECKBOX'">
                  <input type="checkbox" value="{{ comp.options['1'] }}">{{ comp.options["1"] }}<br>
                  <input type="checkbox" value="{{ comp.options['2'] }}">{{ comp.options["2"] }}<br>
                  <input type="checkbox" value="{{ comp.options['3'] }}">{{ comp.options["3"] }}<br>
                  <input type="checkbox" value="{{ comp.options['4'] }}">{{ comp.options["4"] }}<br>
                </div>
                <div *ngIf="comp.type == 'RADIO'">
                  <input type="radio" value="{{ comp.options['1'] }}">{{ comp.options["1"] }}<br>
                  <input type="radio" value="{{ comp.options['2'] }}">{{ comp.options["2"] }}<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
</div>
